name: Build and deploy ASP.NET Core app to Azure Web App (EasyDining)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
    
    env:
      PROJECT_PATH: server/server.csproj

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.x"

      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT_PATH }}

      - name: Build
        run: dotnet build ${{ env.PROJECT_PATH }} -c Release --no-restore

      - name: Publish
        run: dotnet publish ${{ env.PROJECT_PATH }} -c Release -o ./published

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: easydining-api
          path: ./published

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: easydining-api
          path: ./deploy

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F159B21589944FD98DC543A2928A006D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D9C498B2B5ED4472ADD2BA846F381986 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E4D3C0B0C58946ADA1CA0F9B0828C89C }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "easydining"
          slot-name: "Production"
          package: ./deploy
